.testimonial_bubble {
	padding:15px;
	padding-top:25px
}
.testimonial_bubble_text>p {
	padding:15px;
	margin:1em 0 2em;
	position:relative;
	text-align:center;
	font-family:'Montserrat','Helvetica Neue',Arial,sans-serif;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px
}
.testimonial_bubble_text>p:before {
	left:30px;
	content:"";
	bottom:-14px;
	display:block;
	position:absolute;
	border-style:solid;
	border-width:14px 14px 0
}
.testimonial_bubble_text>p:after {
	left:33px;
	content:"";
	bottom:-11px;
	display:block;
	position:absolute;
	border-style:solid;
	border-width:11px 11px 0
}

.testimonial_bubble_text>p>i {
	margin-right:5px
}

.testimonial_bubble_image img {
	width:50%;
	min-width:60px;
	-webkit-border-radius:100%;
	border-radius:100%;
}

.testimonial_bubble_affiliations {
	padding-left:5px;
	padding-right:5px
}

.testimonial_bubble_affiliations>h5 {
	font-weight:600;
	margin:5px 0 5px 0;
	text-transform:capitalize;
	font-family:'Montserrat','Helvetica Neue',Arial,sans-serif;
}

.testimonial_bubble_affiliations>a,
.testimonial_bubble_affiliations>a:visited {
	display:block;
	font-size:11px;
	letter-spacing:1px;
	text-decoration:none;
	margin:0 0 5px 0;
	text-transform:capitalize;
	font-family:'Montserrat','Helvetica Neue',Arial,sans-serif;
	-webkit-transition:color .3s ease 0s;
	transition:color .3s ease 0s
}

.testimonial_spch_babl_brdr_carousel_wrapper {
	background:#fff
}

.testimonial_bubble_text>p {
	color:#888;
	border:2px solid #001A33
}

.testimonial_bubble_text>p:before {
	border-color:#001A33 transparent
}

.testimonial_bubble_text>p:after {
	border-color:#fff transparent
}

.testimonial_bubble_affiliations>h5 {
	color:#001A33
}

.testimonial_bubble_affiliations>a,.testimonial_bubble_affiliations>a:visited {
	color:#888
}

.testimonial_bubble_affiliations>a:hover,.testimonial_bubble_affiliations>a:active {
	color:#001A33
}
