@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

html,
body
{
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
    top:0;
}

p a {
  color: #b34b49;
}

p a:hover {
  color: #b34b49;
}

select {
  margin-bottom: 10px;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #001A33;
    opacity: 1;
}

hr.ladybug {
    border-color: #ed1c24;
    opacity: 1;
    max-width: none;
}

hr.honeybee {
    border-color: #f5b34c;
    opacity: 1;
    max-width: none;
}

hr.butterfly {
    border-color: #26abe2;
    opacity: 1;
    max-width: none;
}

a {
    color: #001A33;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #ffff;
    outline: 0;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family:'Helvetica Neue',Arial,sans-serif;
}

ul.workshop-header {
  height: 25px;
  background-color: #001A33;
  padding-left:5px;
}

li.separator {
  color: white;
}

li.ladybug {
    height: 10px;
    width: 10px;
    background-color: #ed1c24;
    margin-top: 5px;
}

li.honeybee {
    height: 10px;
    width: 10px;
    background-color: #f5b34c;
    margin-top: 5px;
}

li.butterfly {
    height: 10px;
    width: 10px;
    background-color: #26abe2;
    margin-top: 5px;
}

li.grasshopper {
    height: 10px;
    width: 10px;
    background-color: #98de11;
    margin-top: 5px;
}

li.dynamo {
    height: 10px;
    width: 10px;
    background-color: #c86cee;
    margin-top: 5px;
}

li.card-text {
  font-size: 17px;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
}

.card-text {
  font-size: 17px;
  line-height: 1.7;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
}

.detail-text {
  font-size: 14px;
  font-weight: bold;
  font-family:'Helvetica Neue',Arial,sans-serif;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.image-caption-text-small {
  font-size: 12px;
  /*font-weight: bold;*/
  font-family:'Helvetica Neue',Arial,sans-serif;
  /*text-transform: uppercase;*/
  margin-bottom: 1px;
}

.no-padding {
  padding: 0.1rem;
}

.feature {
    padding-bottom: 30px;
}

.white-background {
    background-color: white;
}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

h6, .text-uppercase{
    line-height: 28px;
    font-size: 20px;
}

h6 a{
    font-weight:bold;
}

h6 a:hover {
    text-decoration: none;
}

.feature h6 {
  padding-top: 10px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #001A33;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover,.text-light:focus {
    color: #eee;
    text-decoration:none;
}

.text-primary {
    color: #001A33;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #001A33;
    border-radius: 50%;
    border: solid #001A33;
}

section {
    padding: 70px 0;
    -webkit-transform: translateZ(0); /* https://www.binarymoon.co.uk/2014/02/fixing-css-transitions-in-google-chrome/ */
    backface-visibility: hidden;
}

.section-title {
    text-align: center;
    padding: 10px 0;
}

.section-subcontent {
    text-align: center;
    padding-bottom: 30px;
}

.img-office-logo {
    padding: 5px 1px;
    width: 80%;
    height: auto;
    transition: all .4s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.faq {
  padding-top: 60px;
}

.img-software-icon {
    padding: 1px;
    border-radius: .75rem;
    transition: all .4s;
    max-width: 70%;
}

.img-software-icon:hover {
    box-shadow: 0 0 10px #888888;
}

.member-image {
  -webkit-filter:grayscale(75%);
  -moz-filter:grayscale(75%);
  -ms-filter:grayscale(75%);
  -o-filter:grayscale(75%);
  filter:grayscale(75%);
}

.patron-wall-image {
    padding: 1px;
    width: 80%;
    height: auto;
    border-radius: 50%;
    -webkit-filter:grayscale(75%);
    -moz-filter:grayscale(75%);
    -ms-filter:grayscale(75%);
    -o-filter:grayscale(75%);
    filter:grayscale(75%);
}

.patron-wall-image:hover {
    box-shadow: 0 0 10px #888888;
    -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -ms-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    filter:grayscale(0%);
}

.feature-icon {
    padding: 1px;
    width: 80%;
    height: auto;
    border-radius: .75rem;
    transition: all .4s;
}

.feature img {
    margin-top: -45px;
    width: 80%;
    height: auto;
    border-radius: .75rem;
    transition: all .4s;
}

.feature-icon:hover {
    box-shadow: 0px 0px 10px #888888;
}

.feature p {
  font-size: 16px;
}

#header-slide-show-caption .white-text span {
  color: white;
}

#single-image {
    min-height: 72%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-slide-show-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#header-slide-show-image {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-slide-show-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}


#header-slide-show-caption span{
    color:black;
    padding: 0px 10px 0px 10px;
}

#header-slide-show-caption h5 {
    color:black;
    font-size:25px;
    font-weight:bold;
    padding-bottom: 10px;
}

aside {
    padding: 45px 0;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #e0e0e3;
}

footer h4, footer h6 {
    color:#fff;
}

.navbar {
    border-color: rgba(35,35,35,.05);
    background-color: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-brand {
    color: #001A33;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float:none;
}

.navbar-brand img {
    padding: 1px;
    height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float:none;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #001A33;
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}
.navbar .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.dropdown-item,
.navbar .navbar-nav > li>a,
.navbar .navbar-nav>li>a:focus {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus:hover {
    color: #001A33;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus {
    color: #001A33 !important;
    background-color: transparent;
}

/* responsive nav */
@media(max-width:48em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
}

@media(min-width:48em) {
    .navbar {
        border-color: transparent;
        background-color: #fff;
        min-height: 60px;
    }

    .navbar-brand {
        color: #001A33;
        float: left;
        padding-left: 1px;
    }

    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:focus {
        color: #001A33;
    }

    .navbar .navbar-nav > li > a,
    .navbar .navbar-nav> li > a:focus {
        color: #001A33;
        letter-spacing: 1.1px;
    }

    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus:hover {
        color: #001A33;
    }

    #topNav {
      background-color:#fff;
    }

}

@media(min-width:34em) {
    .icon-lg {
        font-size: 80px;
    }

    section {
        min-height: 500px;
        padding: 100px 0;
    }

}

.list-group-item, .card-footer {
    background-color:transparent;
}

.card {
  background-color: #f7f7f7;
  border: none;
}

.card-deck {
  margin-top: 15px;
  margin-bottom: 15px;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #001A33;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color:#001A33;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color:#001A33;
    color:#001A33;
}
.btn-primary-outline:hover {
    background-color:#a6adb3;
}

.btn-xl {
    padding: 20px 20px;
    font-size: 20px;
    margin: 10px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

#presimg {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
